# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Resultados gerados durante o laboratório
resultados/
dados/
*.zip

# Sistema operacional
.DS_Store
Thumbs.db
